.main-container{
  height: 100%;
  width: 100%;
  position: relative;
  border-style: dotted;
}

.carousel{
  width: 49.75%;
  position: absolute;
  top: 0;
  left: 0;
  height: 99.5%;
  border-style: solid;
}

.preview{
  width: 49.75%;
  position: absolute;
  top: 0;
  right: 0;
  height: 99.5%;
  border-style: solid;
}

.carousel-image{
  display: none;
  text-align: center;
  position: relative;
  top: 25%;
}

.preview-image{
  text-align: center;
  position: relative;
  top: 25%;
}